@using System.Reflection
@using System.Text.RegularExpressions

@inject NavigationManager Nav

<div class="sam-sidebar">
    <div class="sam-sidebar-mainlogo d-lg-block d-none">
        <a href="/">
            <img src="images/logoblue.png" alt="Logo">
        </a>
    </div>
    <div class="d-lg-none d-block">
        <a href="javascript:void(0)">
            <img src="images/close.svg" alt="...">
        </a>
    </div>
    <ul>
        <li>
            <a href="/">
                <img width="22" src="images/home.svg" alt="">
                <span>Home</span>
            </a>
        </li>
        <li @onclick=@(() => Show("pipeline"))>
            <a href="javascript:void(0)">
                <img width="26" src="images/Pipeline.svg" alt="">
                <span>Pipeline</span>
            </a>
        </li>
        <li @onclick=@(() => Show("meetingprep"))>
            <a href="javascript:void(0)">
                <img width="22" src="images/Meeting-Prepartion.svg" alt="">
                <span>Meeting Preparation</span>
            </a>
        </li>
        <li @onclick=@(() => Show("agenda"))>
            <a href="javascript:void(0)">
                <img width="26" src="images/Agenda.svg" alt="">
                <span>Agenda</span>
            </a>
        </li>
        <li @onclick=@(() => Show("meetingnotes"))>
            <a href="javascript:void(0)">
                <img width="26" src="images/Meeting-notes.svg" alt="">
                <span>Meeting Notes</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <img width="26" src="images/Sales-Opportunities.svg" alt="">
                <span>Sales Opportunities</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <img width="29" src="images/Sales-Reports.svg" alt="">
                <span>Sale Reports</span>
            </a>
        </li>

        <li>
            <a href="javascript:void(0)">
                <img width="29" src="images/settings.svg" alt="">
                <span>Settings</span>
            </a>
        </li>
    </ul>
</div>

@if (showpipeline)
{
    <SideBarSubMenu Title="Pipeline">
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/pipeline/configure-icp"))">Configure ICP</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/pipeline/suspects"))">Suspects</a></li>
    </SideBarSubMenu>
}

@if (showmeetingprep)
{
    <SideBarSubMenu Title="Meeting Preparation">
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/details"))">Details</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/attendees"))">Attendees</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/meetingresources"))">Resources</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/objectives"))">Objectives</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/sales"))">Sales</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/marketing"))">Marketing</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/news"))">News</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/socialmedia"))">Social Media</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/business"))">Business</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingprep/purchases"))">Purchases</a> </li>
    </SideBarSubMenu>
}

@if (showmeetingnotes)
{
    <SideBarSubMenu Title="Meeting Notes">
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingnotes/ap"))">Action Points</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingnotes/notes"))">Notes</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingnotes/sow"))">SOW</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingnotes/impact"))">IMPACT</a></li>
        <li><a href="javascript:void(0)" @onclick="@(() => GoTo("/meetingnotes/needs"))">NEEDS</a></li>
    </SideBarSubMenu>
}

@code {
    bool showpipeline;
    bool showmeetingprep;
    bool showmeetingnotes;

    void Show(string what, bool? show = null)
    {
        var pi = GetType().GetField($"show{what}", BindingFlags.NonPublic | BindingFlags.Instance);
        if (show == null) show = !(bool)pi.GetValue(this);
        pi.SetValue(this, show);
    }
    void GoTo(string path)
    {
        var major = Regex.Match(path, @"\/(.+)\/").Groups[1].Value;
        Show(major, false);
        Nav.NavigateTo(path);
    }
}